<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Chef Details</title>
</head>
<body>

<h1 th:text="|CHEF: ${chef.firstName} ${chef.lastName}|"></h1>
<h3 th:text="|BIO: ${chef.bio}|"></h3>

<h2>Dishes prepared by this chef:</h2>
<ul>
    <li th:each="d : ${chef.dishes}"
        th:text="|${d.name} (${d.cuisine}, ${d.preparationTime} min)|">
    </li>
</ul>

<hr/>

<h2>Add dish to this chef:</h2>

<form th:action="@{/chefs/add-dish}" method="post">

    <input type="hidden" name="chefId" th:value="${chef.id}"/>

    <ul>
        <li th:each="d : ${dishes}">
            <label>
                <input type="radio" name="dishId" th:value="${d.id}">
                <span th:text="|${d.name} (${d.cuisine}, ${d.preparationTime} min)|"></span>
            </label>
        </li>
    </ul>

    <button type="submit">Add Dish</button>
</form>

<br/>
<a th:href="@{/chefs}">Back to Chefs</a>

</body>
</html>
